{% load widget_tweaks %}

{% if form.errors %}
<div class="alert alert-danger" role="alert"><b>Erreur</b> : certains champs n'ont pas été remplis correctement. Veuillez corriger les erreurs ci-dessous.</div>
{% endif %}
{% csrf_token %}
{% for field in form %}
<div class=form-group>
    {% if field.errors %}
    <div class="col-sm-12"><div class="alert alert-danger" role=alert>{{ field.errors }}</div></div>
    {% endif %}
    <div class='col-xs-6 col-sm-3'>{{ field.label_tag }}</div>
    <div class='col-xs-12 col-sm-9'>{{ field|add_class:'form-control' }}</div>
</div>
{% endfor %}
