{# context: scenario, busy #}
<div class="panel panel-default" id="scenario-{{scenario.pk}}">
    <div class="panel-heading">
        <h3 class="panel-title">{% if request.user in scenario.players.all %}<span class="label label-success">Je suis inscrit à :</span> {% endif %}{{scenario.name}}</h3>
    </div>
    <ul class="list-group">
        <li class="list-group-item">Proposé par : <b>{{scenario.author.username}}</b></li>
        <li class="list-group-item">Sytème : <b>{{ scenario.universe }}</b></li>
        <li class="list-group-item">
        <b>{{scenario.min_players}} à {{scenario.max_players}}</b> joueurs
            {% if scenario.players.all.count < scenario.max_players %}
                ; <b>{{scenario.players.all.count}}</b> incrits.
            {% else %}
                : <b>complet</b>.
            {% endif %}
            {% if request.user in scenario.players.all %}
                <b>J'en fais partie !</b>
            <form style="display:inline-block; float: right;" method=post action="{% url "subscribe" "scenario" scenario.pk "out" %}">
                {% csrf_token %}
                <button class="btn btn-warning btn-xs" type=submit>Me désinscrire</button>
            </form>
            {% elif request.user == scenario.author %}
                <br/>Participants :<br/><ol>
                    {% for player in scenario.players.all %}
                    <li>{{player.username}}</li>
                    {% endfor %}
                </ol>
            {% elif not busy %}
            <form class="form-inline" style="display:inline-block; float: right;" method=post action="{% url "subscribe" "scenario" scenario.pk "in" %}">
                {% csrf_token %}
                <button class="btn btn-success btn-xs" type=submit>M'inscrire</button>
            </form>
            {% endif %}
        </li>
        <li class="list-group-item">{{ scenario.description }}</li>
    </ul>
</div>
