{% extends "conv/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <p>Veuillez entrer votre ancien mot de passe, puis votre nouveau mot de passe deux fois.</p>

    <form class="form-horizontal" action="" method="post">{% csrf_token %}
        {% include "conv/auto_form.html" %}
        <div class="form-group">
            <div class='hidden-xs col-sm-2'></div>
            <div class=' col-xs-12 col-sm-10'>
                <button type="submit" class="center-block btn btn-primary">Valider</button>
            </div>
        </div>

    </form>

    {% endblock %}
