{% extends "conv/base.html" %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}
{% block content %}

<p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
<form class="form-horizontal" method="post" action="">
    {% include "conv/auto_form.html" %}

    <div class="form-group">
        <div class='hidden-xs col-sm-6'></div>
        <div class='col-xs-12 col-sm-2'>
            <button class='center-block btn btn-primary' type="submit">Réinitialiser mon mot de passe</button>
        </div>
    </div>
</form>

{% endblock %}
