{% extends "conv/base_nulled.html" %}

{% block title %}{{ title }}{% endblock %}
{% block content %}

{% if validlink %}

<p>Vous avez demandé à réinitialiser votre mot de passe. Veuillez entrer ci-dessous le nouveau mot de passe souhaité, deux fois.</p>
{% include "conv/form/form.html" %}
{% else %}
<div class="alert alert-danger" role="alert">Le lien de réinitialisation de mot de passe que vous avez suivi est invalide, ce qui peut arriver s'il a déjà été utlisé par exemple. Vous pouvez demander à nouveau la réinitialisation de votre mot de passe.</div>

{% endif %}

{% endblock %}
